{% set current_route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">Resonances Wiki</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item {% if current_route in ['three_body_libration_index', 'three_body_libration_list', 'three_body_libration_show', 'two_body_libration_list', 'two_body_libration_show'] %}active{% endif %}">
            <a class="nav-link" href="{{ path('three_body_libration_index')}}">Resonances</a>
        </li>
        <li class="nav-item {% if current_route == 'three_body_libration_find' %}active{% endif %}">
            <a class="nav-link" href="{{ path('three_body_libration_find')}}">Chart Builder</a>
        </li>
        <li class="nav-item {% if current_route == 'export' %}active{% endif %}">
            <a class="nav-link" href="{{ path('export')}}">Export</a>
        </li>
    </ul>
    <form action="{{ path('asteroid_show') }}" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-1" name="asteroid" type="search" placeholder="Asteroid Number" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Find</button>
    </form>
</nav>

{% if false %}
    <a class="btn btn-outline-primary" href="#">Admin</a>
{% endif %}
