{% extends 'base.html.twig' %}

{% block title %}ThreeBodyLibration index{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
        <li class="breadcrumb-item">
            <a href="{{ path('two_body_libration_list', {'planet1': planet1}) }}">
                {{ planet1 }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ "%d%s%+d"|format(m1, planet1|first, m) }}</li>
    </ol>
    </nav>
{% endblock %}

{% block content %}

    <h1>List of the asteroids trapped in
    {{ "%d%s%+d"|format(m1, planet1|first, m) }}
    resonance
    </h1>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Number</th>
                        <th class="text-right">a</th>
                        <th class="text-right">e</th>
                        <th class="text-right">Pure</th>
                    </tr>
                </thead>
                <tbody>
                {% for resonance in resonances %}
                    <tr>
                        <td>{{ resonance.number }}</td>
                        <td class="text-right">{{ "%.8f"|format(resonance.properSemiaxis) }}</td>
                        <td class="text-right">{{ "%.8f"|format(resonance.properSemiaxis) }}</td>
                        <td class="text-right">{{ resonance.pure }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
