{% extends 'base.html.twig' %}

{% block title %}ThreeBodyLibration index{% endblock %}

{% block body %}

    <h1>ThreeBodyLibration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>ProperSemiaxis</th>
                <th>Problem</th>
                <th>Pure</th>
                <th>Planet1</th>
                <th>Planet2</th>
                <th>M1</th>
                <th>M2</th>
                <th>M</th>
                <th>P1</th>
                <th>P2</th>
                <th>P</th>
                <th>ResonantSemiaxis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for three_body_libration in three_body_librations %}
            <tr>
                <td>{{ three_body_libration.id }}</td>
                <td>{{ three_body_libration.number }}</td>
                <td>{{ three_body_libration.properSemiaxis }}</td>
                <td>{{ three_body_libration.problem }}</td>
                <td>{{ three_body_libration.pure }}</td>
                <td>{{ three_body_libration.planet1 }}</td>
                <td>{{ three_body_libration.planet2 }}</td>
                <td>{{ three_body_libration.m1 }}</td>
                <td>{{ three_body_libration.m2 }}</td>
                <td>{{ three_body_libration.m }}</td>
                <td>{{ three_body_libration.p1 }}</td>
                <td>{{ three_body_libration.p2 }}</td>
                <td>{{ three_body_libration.p }}</td>
                <td>{{ three_body_libration.resonantSemiaxis }}</td>
                <td>
                    <a href="{{ path('three_body_libration_show', {'id': three_body_libration.id}) }}">show</a>
                    <a href="{{ path('three_body_libration_edit', {'id': three_body_libration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('three_body_libration_new') }}">Create new</a>
{% endblock %}
